@import 'src/programs/notepad/notepad';
@import 'src/programs/windows-explorer/windows-explorer';
@import 'src/programs/word-pad/word-pad';
@import 'style/win98-style';

#devNote {
    bottom: 35px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-align: right;
}

dialog .resizer {
    position: absolute;

    &.bottom {
        bottom: 0;
        cursor: n-resize;
        height: 4px;
        left: 0;
        width: 100%;
    }

    &.left {
        cursor: e-resize;
        height: 100%;
        left: 0;
        top: 0;
        width: 4px;
    }

    &.right {
        cursor: e-resize;
        height: 100%;
        right: 0;
        top: 0;
        width: 4px;
    }

    &.top {
        cursor: n-resize;
        height: 4px;
        left: 0;
        top: 0;
        width: 100%;
    }
}
