@import 'src/programs/notepad/notepad';
@import 'src/programs/windows-explorer/windows-explorer';
@import 'src/programs/word-pad/word-pad';
@import 'style/win98-style';

#devNote {
    bottom: 35px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-align: right;
}
