@import 'abstarcts/mixins';

.date-time-properties {
    .tab-content {
        display: grid;
        gap: 10px 28px;
        grid: min-content 1fr/184px 184px;
    }

    .today {
        align-items: center;
        background-color: var(--win-selected-bg);
        color: #fff;
        display: flex;
        height: 100%;
        justify-content: center;
    }
}

#dateCalendar {
    @include window-border(out);
    background-color: #fff;
    grid-column: 1/3;
    min-width: 158px;

    &Wrapper {
        display: grid;
        gap: 10px;
        grid: repeat(2, min-content)/80px 80px;

        .spin-box input {
            width: 100%;
        }
    }
}

#dateDayNames,
#dateDays {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 22px);
    padding: 0 2px;
    text-align: center;
}

#dateDayNames {
    background-color: var(--win-default-bg-dark);
    color: var(--win-default-bg);
    height: 18px;
}

#dateDays {
    grid-template-rows: repeat(6, 18px);
}

#dateTime {
    &Clock {
        background: no-repeat url(../../../assets/time_properties/background.svg) center;
        height: 128px;
        position: relative;
        width: 128px;
    }

    &Hour {
        filter: drop-shadow(2px 2px #808080);
        left: 58px;
        position: absolute;
        top: 26px;

        div {
            background: #008080;
            clip-path: path('M5 0L0 38L5 45L10 38');
            height: 45px;
            transform-origin: center 38px;
            width: 10px;
        }
    }

    &Minute {
        filter: drop-shadow(2px 2px #808080);
        left: 59px;
        position: absolute;
        top: 16px;

        div {
            background: #008080;
            clip-path: path('M4 0L0 47L5 58L8 47');
            height: 58px;
            transform-origin: center 47px;
            width: 8px;
        }
    }

    &Second {
        background: #808080;
        height: 50px;
        left: 63px;
        position: absolute;
        transform-origin: bottom center;
        top: 13px;
        width: 1px;
    }

    &Time {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;

        input {
            text-align: center;
            width: 80px;
        }
    }

    &TimeZone {
        grid-area: 2/1/3/3;
    }
}