@import 'mixins';

dialog.minesweeper {
    table {
        border-spacing: 0;
    }

    td {
        border-left: 1px solid #888;
        border-top: 1px solid #888;
        height: 16px;
        min-width: 16px;
        text-align: center;

        &.boom {
            background-color: #f00;
        }

        @each $value in ('1', '2', '3', '4', '5', '6', '7', '8', 'MINE') {
            &[data-value='#{$value}'] {
                background-image: url('../assets/minesweeper/field-#{to-lower-case($value)}.svg');
            }
        }

        &.hidden {
            @include window-border(in, 2);
            background: #ccc;
        }

        &.flag {
            background-image: url('../assets/minesweeper/field-flag.svg');
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    .mines,
    .timer {
        display: flex;
    }

    .number {
        background: #000 url(../assets/minesweeper/number-bg.svg);
        height: 23px;
        position: relative;
        width: 13px;

        &:after {
            content: ' ';
            height: 23px;
            position: absolute;
            width: 13px;
        }

        @each $value in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) {
            &[data-value='#{$value}']:after {
                background-image: url('../assets/minesweeper/number-#{$value}.svg');
            }
        }
    }
}