@import 'abstarcts/mixins';

$assetPath: '../assets/minesweeper';

dialog.minesweeper {
    main {
        @include window-border(in, 3);
        padding: 6px;
    }

    table {
        @include window-border(out, 3);
        border-spacing: 0;
    }

    td {
        border-left: 1px solid #888;
        border-top: 1px solid #888;
        height: 16px;
        min-width: 16px;
        text-align: center;

        &.boom {
            background-color: #f00;
        }

        @each $value in ('1', '2', '3', '4', '5', '6', '7', '8', 'MINE') {
            &[data-value='#{$value}'] {
                background-image: url('#{$assetPath}/field-#{to-lower-case($value)}.svg');
            }
        }

        &.hidden {
            @include window-border(in);
            background: #ccc;
        }

        &.flag {
            background-image: url('#{$assetPath}/field-flag.svg');
        }
    }

    .face {
        background: url('#{$assetPath}/face.svg');
        height: 25px;
        width: 25px;

        @each $value in (dead, win) {
            &.#{$value} {
                background: url('#{$assetPath}/face-#{$value}.svg');
            }
        }
    }

    .info {
        @include window-border(out);
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        padding: 4px 5px;
    }

    .number-block {
        @include window-border(out, 1);
        display: flex;
    }

    .number {
        background: #000 url('#{$assetPath}/number-bg.svg');
        height: 23px;
        position: relative;
        width: 13px;

        &:after {
            content: ' ';
            height: 23px;
            position: absolute;
            width: 13px;
        }

        @each $value in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) {
            &[data-value='#{$value}']:after {
                background-image: url('#{$assetPath}/number-#{$value}.svg');
            }
        }
    }
}

.minesweeper-best-times {
    fieldset {
        margin-bottom: 8px;

        div {
            display: grid;
            gap: 8px 32px;
            grid-template: repeat(3, 1fr) / repeat(3, auto);
        }
    }

    main {
        padding: 8px 12px;
    }
}

.minesweeper-custom {
    main {
        padding: 4px;

        div {
            margin-top: 4px;
        }
    }

    input {
        margin: 0 0 4px 20px;
        width: 6em;
    }
}

.minesweeper-win {
    width: 228px;

    input {
        margin: 8px 0;
        width: 100%;
    }

    main {
        padding: 12px;
    }
}