$assetPath: '../assets/cv';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #2196f3;
    text-decoration-line: none;
}

#body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 210mm;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: .75rem;
}

small {
    color: #aaa;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.text-center {
    text-align: center;
}

/* body */
aside {
    background-color: #eee;
    gap: 1rem;
    padding: 2.5rem 1rem;
    position: relative;
    width: 35%;
}

img {
    align-self: center;
    border-radius: 9999px;
    margin-bottom: 1rem;
    max-height: 245px;
    max-width: 245px;
}

main {
    height: 100%;
    padding: 2.5rem 2rem;

    h2 {
        font-size: 1.75rem;
    }

    h3 span:before {
        content: '- ';
    }

    section {
        margin-bottom: .75rem;
        padding-left: 2rem;

        p {
            text-align: justify;
        }

        &:last-child {
            margin-bottom: 2rem;
        }
    }
}

.contact,
.language-skills {
    margin-bottom: .5rem;
}

.contact i {
    display: inline-block;
    height: 1.5rem;
    min-width: 1.5rem;
}

#pictureText {
    left: 9px;
    position: absolute;
    top: 12px;
}