/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #2196F3;
    text-decoration-line: none;
}

#body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 210mm;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: .75rem;
}

small {
    color: #AAA;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.text-center {
    text-align: center;
}

/* body */
aside {
    background-color: #EEE;
    padding: 2.5rem 1rem;
    width: 35%;
}

aside > *:not(:last-child) {
    margin-bottom: 1rem;
}

img {
    border-radius: 9999px;
    max-height: 245px;
    max-width: 245px;
}

main {
    height: 100%;
    padding: 2.5rem 2rem;
}

main h2 {
    font-size: 1.75rem;
}

main section {
    margin-bottom: .75rem;
    padding-left: 2rem;
}

main section p {
    text-align: justify;
}

main section:last-child {
    margin-bottom: 2rem;
}

main h3 span:before {
    content: '- ';
}

.contact,
.language-skills {
    margin-bottom: .5rem;
}

.contact i {
    min-width: 1.5rem;
}
