.explorer {
    height: 400px;
    width: 500px;

    main {
        align-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;

        .shortcut:not(:focus) > p {
            color: #000;
        }
    }
}
